@using WatchCatalog_MVC.ViewModels;
@model WatchDetailsViewModel

<style>
    .control-container {
        display: grid;
        grid-template-columns: 9vw 20vw;
        font-size: 2vh;
        grid-column-gap: 1vh;
        position: relative
    }

    .error-message {
        position: absolute;
        font-size: 1.2vh
    }

    .input-validation-error {
        border-color: #dc3545;
    }

        .input-validation-error:focus {
            color: #212529;
            background-color: #fff;
            border-color: #dc3545;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
        }

    .form-grouping {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1vw;
        grid-row-gap: 2vh;
        margin-bottom: 2vh
    }

    .input-container p {
        font-size: 1.3vh;
        font-weight: 700;
        color: #0d6efd;
        margin: 0;
    }

    .image-upload-container {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 3.5vh
    }

    .image-container {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 2vh
    }

    .detail-card {
        width: 75%;
        height: 55vh;
        border: none;
        border-radius: 2vh
    }

    .form-label:after {
        content: "*";
        color: red;
        margin-left: .1vw;
    }

    .input-group-text {
        font-size: 1.5vh;
    }
</style>

@{
    var titleOperation = Model.WatchId == 0 ? "Create New Watch" : "Edit Watch";
}

<p style="position: absolute; top: 5vh; left: 5vw; font-size: 3.5vh; font-weight: 700;  font-family: 'Nunito', sans-serif">@titleOperation</p>
<form id="modalForm" style="display: flex; width: 90vw; font-family: 'Nunito', sans-serif; padding-top:2vh">
    <div class="image-upload-container">
        <div class="card shadow-sm detail-card">
            <div class="image-container card-img">
                @if (string.IsNullOrEmpty(Model.Image))
                {
                    <img id="imageViewer" src="~/images/imagetemplate.png" style="height: 100%; position: absolute; margin: auto" />
                }
                else
                {
                    <img id="imageViewer" src="@Model.Image" style="height: 100%; position: absolute; margin: auto" />
                }
            </div>
        </div>
        <div class="input-group mb-3" style="width: 75%; display:flex; flex-direction: column">
            <p style="font-size: 1.3vh; font-weight: 700; color: gray;margin: 0;">Only accepts jpg, jpeg and png files. Max 5MB.</p>
            <input type="file" class="form-control form-control-sm image-upload" id="imageFile" data-max-file-size="5MB"
                   data-max-files="1"
                   accept="image/png, image/jpeg,  image/jpg" asp-for="ImageFile" style="width: 100%">
        </div>

    </div>

    <div class="input-container" style="width: 70%; display: flex; flex-direction: column; row-gap: 1vh">
        <p>Basic Information</p>
        <div class="form-grouping">
            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Name</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control form-control-sm " asp-for="WatchName">
                    <span asp-validation-for="WatchName" class="text-danger error-message"></span>
                </div>
            </div>

            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Price</label>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <span class="input-group-text">฿</span>
                        <input type="number" class="form-control form-control-sm " asp-for="Price" placeholder="Must be atleast ฿1">
                    </div>
                    <span asp-validation-for="Price" class="text-danger error-message"></span>
                </div>
            </div>
            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Short Description</label>
                </div>
                <div class="col-auto">
                    <textarea class="form-control form-control-sm" rows="3" asp-for="Short_description" style="resize: none"></textarea>
                    <span asp-validation-for="Short_description" class="text-danger error-message"></span>
                </div>
            </div>
            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Full Description</label>
                </div>
                <div class="col-auto">
                    <textarea class="form-control form-control-sm" rows="3" asp-for="Full_Description" style="resize: none"></textarea>
                    <span asp-validation-for="Full_Description" class="text-danger error-message"></span>
                </div>
            </div>
        </div>
        <p>Parts Materials</p>
        <div class="form-grouping">
            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Jewel</label>
                </div>
                <div class="col-auto">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" asp-for="Jewel">
                        <option value="">Select Jewel</option>
                        <option value="Diamond">Diamond</option>
                        <option value="Garnet">Garnet</option>
                        <option value="Ruby">Ruby</option>
                        <option value="Sapphire">Sapphire</option>
                    </select>
                    <span asp-validation-for="Jewel" class="text-danger error-message"></span>
                </div>
            </div>
            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Case</label>
                </div>
                <div class="col-auto">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" asp-for="Case">
                        <option value="">Select Case</option>
                        <option value="Bronze">Bronze</option>
                        <option value="Ceramic">Ceramic</option>
                        <option value="Gold">Gold</option>
                        <option value="Stainless Steel">Stainless Steel</option>
                        <option value="Titanium">Titanium</option>
                    </select>
                    <span asp-validation-for="Case" class="text-danger error-message"></span>
                </div>
            </div>
            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Strap</label>
                </div>
                <div class="col-auto">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" asp-for="Strap">
                        <option value="">Select Strap</option>
                        <option value="Ceramic">Ceramic</option>
                        <option value="Leather">Leather</option>
                        <option value="Mesh">Mesh</option>
                        <option value="Nylon Banding">Nylon Banding</option>
                        <option value="Polyurethane Rubber">Polyurethane Rubber</option>
                        <option value="Silicone">Silicone</option>
                        <option value="Stainless Steel">Stainless Steel</option>
                        <option value="Titanium">Titanium</option>
                    </select>
                    <span asp-validation-for="Strap" class="text-danger error-message"></span>
                </div>
            </div>
        </div>
        <p>Specifications</p>
        <div class="form-grouping">
            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Chronograph</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control form-control-sm " asp-for="Chronograph">
                    <span asp-validation-for="Chronograph" class="text-danger error-message"></span>
                </div>
            </div>
            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Caliber</label>
                </div>
                <div class="col-auto">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" asp-for="Caliber">
                        <option value="">Select Caliber</option>
                        <option value="Automatic">Automatic</option>
                        <option value="Mechanical">Mechanical</option>
                        <option value="Quartz">Quartz</option>
                    </select>
                    <span asp-validation-for="Caliber" class="text-danger error-message"></span>
                </div>
            </div>
            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Weight</label>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <input type="number" class="form-control form-control-sm " asp-for="Weight" placeholder="1g to 300g">
                        <span class="input-group-text">g</span>
                    </div>
                    <span asp-validation-for="Weight" class="text-danger error-message"></span>
                </div>
            </div>
            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Height</label>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <input type="number" class="form-control form-control-sm " asp-for="Height" placeholder="1mm to 50mm">
                        <span class="input-group-text">mm</span>
                    </div>
                    <span asp-validation-for="Height" class="text-danger error-message"></span>
                </div>
            </div>
            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Diameter</label>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <input type="number" class="form-control form-control-sm " asp-for="Diameter" placeholder="1mm to 50mm">
                        <span class="input-group-text">mm</span>
                    </div>
                    <span asp-validation-for="Diameter" class="text-danger error-message"></span>
                </div>
            </div>
            <div class="control-container">
                <div class="col-auto">
                    <label class="form-label">Thickness</label>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <input type="number" class="form-control form-control-sm " asp-for="Thickness" placeholder="1mm to 20mm">
                        <span class="input-group-text">mm</span>
                    </div>
                    <span asp-validation-for="Thickness" class="text-danger error-message"></span>
                </div>
            </div>
        </div>
    </div>
</form>

