@{
    ViewData["Title"] = "Index";
}


<div style="width: 100vw">
    <section id="hero" style="height: 100vh; width: 100vw;">
        <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; gap:10vw;">
            <div id="slogan-container" style="width: 40vw">
                <p style="font-weight: 700; font-size: 8vh; text-align:start">When <span style="color: #0d6efd">Time</span> and <span style="color: #0d6efd">Beauty</span> Collides</p>
                <p style="text-align:justify; font-size:2vh">Aut voluptatibus magnam vel incidunt deleniti et rerum laborum et sunt amet nam explicabo illo! Ut eligendi praesentium sit velit voluptate sit tempora labore est error accusantium est consectetur totam cum nihil fuga aut eveniet rerum.</p>
                <button class="btn btn-primary btn-lg shadow-sm">See watches</button>
            </div>
            <div id="image-container" style="display: flex; flex-direction: column; gap: 1vw">
                <div style="display: flex; gap: 1vw">
                    <img class="shadow" src="~/images/watch3.jpg" style="height: 25vh; border-top-left-radius: 15%" />
                    <img class="shadow" src="~/images/watch1.jpg" style="height: 25vh; border-top-right-radius: 15%" />
                </div>
                <div style="display: flex; gap: 1vw">
                    <img class="shadow" src="~/images/watch1.jpg" style="height: 25vh; border-bottom-left-radius: 15%" />
                    <img class="shadow" src="~/images/watch3.jpg" style="height: 25vh;" />
                    <img class="shadow" src="~/images/watch2.jpg" style="height: 25vh; border-top-right-radius: 15%" />
                </div>
                <div style="display: flex; gap: 1vw; justify-content: end">
                    <img class="shadow" src="~/images/watch5.jpg" style="height: 25vh; border-bottom-left-radius: 15%" />
                    <img class="shadow" src="~/images/watch3.jpg" style="height: 25vh; border-bottom-right-radius: 15%" />
                </div>
            </div>
        </div>
    </section>
    <section id="carousel" style="width: 100%;  height: 35vh">
    </section>
    <section id="watches" style="width: 100%; height: 100vh">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; gap:2vw;">
            <button id="btnAdd" class="btn btn-primary">Create Watch</button>
            <div id="watchesContainer" style="display: flex; gap: 20px; flex-wrap: wrap;">
            </div>
            <div id="pagination-container">
                <ul class="pagination pagination-sm">
                </ul>
            </div>
        </div>
    </section>
    <partial name="_Modal" />
</div>

@section Scripts{
    <script>
        $(async () => {
            //getting all watches
            let getAllWatches = async (pageNumber = 1) => {
                await $.ajax({
                    url: `@Url.Action("getwatches")?PageNumber=${pageNumber}`,
                    method: "GET",
                    beforeSend: () => {
                        $("#watchesContainer").empty()
                        $("#watchesContainer").html("Loading...")
                    },
                    success: (res) => {
                        //create watches cards
                        $("#watchesContainer").empty()
                        $.each(res.watchDTOs, (key, value) => {
                            let createCard = (value) => {
                                let cardBody = $("<div>").addClass("card").css("width", "10vw").css("height", "25vh").css("position", "relative").css("overflow", "hidden")
                                let image = $(`<img src='${value.image}' />`).css("height", "25vh").css("position", "absolute").css("margin", "auto")
                                cardBody.click(() => {
                                    window.location.href = `@Url.Action("Details")/${value.watchId}`
                                })

                                return cardBody.append(image)
                            }
                            $("#watchesContainer").append(createCard(value))

                        })

                        //create pagination
                        $(".pagination").empty()
                        let firstPagination = $("<li>").addClass(`page-item ${res.hasPrevious ? '' : 'disabled'}`).wrapInner(`<button class='page-link'>First</button>`)

                        if (res.hasPrevious) firstPagination.click(async () => await getAllWatches(1))

                        let lastPagination = $("<li>").addClass(`page-item ${res.hasNext && res.currentPage != res.totalPage ? '' : 'disabled'}`)
                            .wrapInner(`<button class='page-link'>Last</button>`)

                        if (res.hasNext && res.currentPage != res.totalPage) lastPagination.click(async () => await getAllWatches(res.totalPages))

                        let paginationButtons = []

                        for (let i = res.currentPage - 2; i <= res.currentPage + 2; i++) {
                            let pageButton;
                            if (i > 0 && i <= res.totalPages)
                                pageButton = $("<li>").addClass("page-item").wrapInner($("<button>").addClass("page-link").text(i).click(async () => await getAllWatches(i)))

                            if (i === res.currentPage)
                                pageButton.addClass("active").children().off()

                            paginationButtons.push(pageButton)
                        }

                        $(".pagination").append(firstPagination, paginationButtons, lastPagination)
                    },
                    error: (err) => {
                        console.log(err)
                    }
                })
            }

            await getAllWatches();

            //add
            $("#btnAdd").click(() => callModalBody({ url: '@Url.Action("ModalBody")', method: "POST", id: null, submitFn: formSubmit }))

            var formSubmit = async (event) => {
                event.preventDefault()
                var form = new FormData();
                form.append("image", imageFile.files[0]);
                form.append("watchname", $("#WatchName").val());
                form.append("case", $("#Case").val());
                form.append("jewel", $("#Jewel").val());
                form.append("strap", $("#Strap").val());
                form.append("caliber", $("#Caliber").val());
                form.append("full_description", $("#Full_Description").val());
                form.append("short_description", $("#Short_description").val());
                form.append("Chronograph", $("#Chronograph").val());
                form.append("price", $("#Price").val());
                form.append("height", $("#Height").val());
                form.append("weight", $("#Weight").val());
                form.append("diameter", $("#Diameter").val());
                form.append("thickness", $("#Thickness").val());

                await $.ajax({
                    url: "/addwatch",
                    method: "POST",
                    timeout: 0,
                    processData: false,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    data: form,
                    success: () => {
                        getAllWatches()
                    },
                    error: (err) => {
                        console.log(err)
                    }
                })
            }
        })
    </script>
}

