@model string

@{
    ViewData["Title"] = "Watch List";
}

<div id="watchList-container" style="width: 100vw; padding-top: 10vh">
    <section id="carousel" style="width: 100%; display: flex; justify-content: center; align-items: center; font-family: 'Montserrat Alternates', sans-serif; cursor: pointer">
        <!-- Carousel wrapper -->
        <div id="watchCarousel" class="carousel slide carousel-fade shadow" data-bs-ride="carousel" style="width: 87vw; border-radius: 2vh">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#watchCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#watchCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#watchCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#watchCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
            </div>

            <!-- Inner -->
            <div class="carousel-inner" style="border-radius: 2vh">
                <!-- Single item -->

                <div class="carousel-item active" onclick="HandleCarouselClick('leather')">
                    <img src="~/images/leather_carousel.jpg" class="d-block w-100" style="object-fit: cover; object-position: center; overflow: hidden;height:50vh;"
                         alt="Leather Strap Watches" />
                    <div class="carousel-caption d-none d-md-block">
                        <p style="font-size: 3.5vh; font-weight: 700; transform: translate(-20vw, -30vh)">Leather Strap Watches</p>
                    </div>
                </div>


                <!-- Single item -->
                <div class="carousel-item" onclick="HandleCarouselClick('titanium')">
                    <img src="~/images/carbon_carousel.jpg" class="d-block w-100" style="object-fit: cover; object-position: center; overflow: hidden;height:50vh;"
                         alt="Carbon Case Watches" />
                    <div class="carousel-caption d-none d-md-block">
                        <p style="font-size: 3.5vh; font-weight: 700; transform: translate(30vw, -30vh)">Titanium Case Watches</p>
                    </div>
                </div>


                <!-- Single item -->
                <div class="carousel-item" onclick="HandleCarouselClick('diamond')">
                    <img src="~/images/diamond_carousel.jpg" class="d-block w-100" style="object-fit: cover; object-position: center; overflow: hidden;height:50vh;"
                         alt="Diamond Jewel Watches" />
                    <div class="carousel-caption d-none d-md-block">
                        <p style="font-size: 3.5vh; font-weight: 700; transform: translate(30vw, 1vh)">Diamond Jewel Watches</p>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item" onclick="HandleCarouselClick('quartz')">
                    <img src="~/images/round_carousel.jpg" class="d-block w-100" style="object-fit: cover; object-position: center; overflow: hidden;height:50vh;"
                         alt="Diamond Jewel Watches" />
                    <div class="carousel-caption d-none d-md-block">
                        <p style="font-size: 3.5vh; font-weight: 700; transform: translate(29vw, -25vh)">Quartz Caliber Watches</p>
                    </div>
                </div>
            </div>
            <!-- Inner -->
            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#watchCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#watchCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel wrapper -->
    </section>

    <partial name="_WatchList" />
    <partial name="_Modal" />
    <partial name="_BackToTopButton" />
    @Html.AntiForgeryToken()
</div>
@section Scripts{
    <script>
        //forgery validation token
        let token = $('input[name="__RequestVerificationToken"]').val();

        createWatchListPartialScript('@Model')

        let HandleCarouselClick = async (searchString) => {
            createWatchListPartialScript(searchString)
        }

        $(() => {
            const submitBtn = $("#btnSubmitModal")
            const submitBtnBeforeText = submitBtn.text()

            $("#btnAdd").click(function () {
                callModalBody($(this), { url: '@Url.Action("ModalBody")', method: "Post", id: null, submitFn: formSubmit })
            })

            var formSubmit = async (event) => {
                event.preventDefault()
                var form = new FormData();
                form.append("image", imageFile.files[0]);
                form.append("watchname", $("#WatchName").val());
                form.append("case", $("#Case").val());
                form.append("jewel", $("#Jewel").val());
                form.append("strap", $("#Strap").val());
                form.append("caliber", $("#Caliber").val());
                form.append("full_description", $("#Full_Description").val());
                form.append("short_description", $("#Short_description").val());
                form.append("Chronograph", $("#Chronograph").val());
                form.append("price", $("#Price").val());
                form.append("height", $("#Height").val());
                form.append("weight", $("#Weight").val());
                form.append("diameter", $("#Diameter").val());
                form.append("thickness", $("#Thickness").val());



                await $.ajax({
                    url: "/addwatch",
                    method: "POST",
                    timeout: 0,
                    processData: false,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    data: form,
                    headers:
                    {
                        "RequestVerificationToken": token
                    },
                    beforeSend: () => {
                        submitBtn.attr("disabled", "disabled")
                        submitBtn.text(" Loading...")
                        submitBtn.prepend('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>')
                    },
                    success: () => {
                        submitBtn.removeAttr("disabled")
                        submitBtn.text(submitBtnBeforeText)

                        Swal.fire({
                            icon: 'success',
                            title: 'Watch successfully Added!',
                            showConfirmButton: false,
                            timer: 3000,
                        }).then(() => {
                            const truck_modal = document.querySelector('#partialModal');
                            const modal = bootstrap.Modal.getInstance(truck_modal);
                            modal.hide();

                            $("#searchInput").text('')
                            createWatchLists()
                        })
                    },
                    error: (xhr, ajaxOptions, thrownError) => {
                        if (xhr.status == 404) {
                            console.log(xhr)
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: xhr.responseText,
                                showConfirmButton: false,
                                timer: 3000,
                            }).then(() => {
                                submitBtn.removeAttr("disabled")
                                submitBtn.text(submitBtnBeforeText)
                            })
                        }
                        else if (xhr.status == 422) {
                            console.log(xhr)
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: "Invalid Data",
                                showConfirmButton: false,
                                timer: 3000,
                            }).then(() => {
                                submitBtn.removeAttr("disabled")
                                submitBtn.text(submitBtnBeforeText)
                            })
                        }
                        else {
                            window.location = `/error?statusCode=${xhr.status}&message=${xhr.responseText}`;
                        }
                    }
                })
            }
        })
    </script>
}